<!DOCTYPE html>
<head>

	<title>
		Coin Changer 

	</title>

	<link rel="stylesheet" href= "css/custom.css">
</head>

<body>


	<header>
	<p class="somecolor">
	Coin Changer
	</p>
		<ul>
			<li>
				<a href = "/">
					HOME
				</a>
			</li>
			<li>
				<a href = "/contact">
					CONTACT
				</a>
			</li>
	
		</ul>

	</header>
 <%=yield%>  

</body>

<footer data-roll ="footer" data-position="fixed">
	<p><a href = "http://minedminds.org"target=         "_blank"> Mined Minds</a><br>&copy; 2016</p>
</footer>