<!DOCTYPE html>
<head>

	<title>
		Coin Changer 

	</title>

</head>

<body>


	<header>
		<ul>
			<li>HOME</li>
			<li>CONTACT</li>


		</ul>

	</header>
 <%=yield%>  

</body>